/* ---------------- Header Section ------------------ */
.site_header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1024;
  width: 100%;
  padding: 2.4rem 0;
  background: #fff;
  &.sticky {
    box-shadow: 0 0.4rem 1rem 0 #00000040;
  }
  &.site_header2 {
    background: #313965;
    &.sticky {
      background: #fff;
    }
    .menu {
      & > li a {
        color: #313965;
      }
    }
  }
  .site_logo {
    display: inline-block;
    width: 9.5rem;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 0 5.8rem;
    margin-left: auto;
    li {
      position: relative;
      z-index: 1;
      a {
        display: inline-flex;
        align-items: center;
        color: #363f48;
        &.material-symbols-outlined {
          font-size: 2.4rem;
        }
        & > span:last-child {
          transition: all 0.25s;
        }
      }
      &:hover {
        .submenu {
          top: 8rem;
          opacity: 1;
          pointer-events: all;
        }
        a {
          font-weight: 700;
          color: #363f48;
          & > span:last-child {
            transform: rotate(-180deg);
          }
        }
      }
      &:not(.no_submenu):before {
        content: "";
        position: absolute;
        width: 23.1rem;
        height: 50rem;
        background: transparent;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        pointer-events: none;
      }

      &:not(.no_submenu):hover:before {
        pointer-events: all;
      }
    }
  }

  @media #{$mdm} {
    /* =============== site_header2 ================= */
    &.site_header2:not(.sticky) {
      .menu > li > a {
        color: #fff;
      }
      .hamburger-menu span {
        background: #313965;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
          hue-rotate(96deg) brightness(104%) contrast(101%);
      }
    }
  }
  @media #{$md} {
    .container {
      position: relative;
    }
  }
  @media #{$xs} {
    padding: 1.5rem 0;
    .site_logo {
      width: 8.7rem;
    }
    .menu {
      top: 3.5rem;
      .mobile_menu_active {
        top: 4rem;
      }
    }
  }
  @media #{$sm} {
    .menu {
      width: calc(100%);
      left: 0rem;
      top: 3.5rem;
      .mobile_menu_active {
        top: 4rem;
      }
    }
  }
}

/* hamburger-menu  */
.hamburger-menu {
  cursor: pointer;
  position: relative;
  display: none;
  z-index: 999;
  margin-left: auto;
  span {
    background: #313965;
    width: 2rem;
    height: 0.2rem;
    display: block;
    margin: 0.4rem 0;
    transition: all 0.3s ease;
    border-radius: 2rem;

    &.line-top {
      &.current {
        transform: translateY(200%) rotate(135deg);
      }
    }
    &.line-center {
      &.current {
        opacity: 0;
      }
    }
    &.line-bottom {
      &.current {
        transform: translateY(-372%) rotate(-135deg);
      }
    }
  }
}

@media #{$md} {
  .hamburger-menu {
    display: inline-block;
  }
}

/* Sub Menu */
.submenu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  overflow: hidden;
  top: 4rem;
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
  &.min_w_230 {
    min-width: 23.1rem;
  }
  &.min_w_250 {
    min-width: 25rem;
  }
  a {
    color: #526373;
    font-size: 1.4rem;
    padding: 1.5rem;
    transition: 0.25s;
    display: flex;
    align-items: center;
    white-space: nowrap;
    &.active,
    &.active:hover,
    &:hover {
      background: #f7f7f7;
      font-weight: 700;
      color: #363f48;
    }
    img {
      width: 3rem;
    }
  }
}

@media #{$md} {
  .menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
    position: absolute;
    background: #fff;
    top: 4rem;
    width: 100%;
    padding: 0;
    gap: 2.4rem;
    padding: 2.4rem;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s ease;
    pointer-events: none;
    gap: 2.4rem !important;
    .mobile_menu_active {
      opacity: 1;
      top: 5.2rem;
      pointer-events: all;
    }
    li {
      a {
        font-weight: 700;
        font-size: 1.6rem;
        span:last-child {
          font-size: 1.5rem;
        }
      }
      &:hover {
        .submenu {
          top: auto;
          display: flex;
        }
      }
    }
  }
  .submenu {
    gap: 2.4rem;
    box-shadow: none;
    padding-top: 2.4rem;
    border-top: 0.1rem solid #c0c8d7;
    border-radius: 0;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    width: 100%;
    min-width: 100% !important;
    position: relative;
    top: 0 !important;
    display: none;
    &.hide {
      opacity: 0;
    }
    a {
      padding: 0;
      padding-left: 3.2rem;
      color: #363f48;
      font-weight: 700;
      &.active:hover,
      &.active,
      &:hover {
        background: #fff !important;
      }
    }
    li {
      width: 100%;
    }
  }
}
