// Font Family
$bodyFont: 'Suisse-Intl';
$headingFont: 'PP Right Gothic Tight';


// Colors
$white: #fff;
$black: #000;
$gray-500: #A09F9F;
$body-bg: #EAE6E3;



// Responsive Variables
$desktop-lg: '(min-width: 1850px)';
$desktop: '(min-width: 1600px) and (max-width: 1849px)';
$desktop-md: '(min-width: 1400px) and (max-width: 1599.98px)';
$laptop: '(min-width: 1200px) and (max-width: 1399.98px)';
$mini-laptop : '(min-width: 992px) and (max-width: 1199.98px)';
$xl-device: '(min-width: 1200px)';
$lg : '(min-width: 992px) and (max-width: 1199.98px)';
$mdm: '(min-width: 992px)';
$md:'(max-width: 991.98px)';
$xsm:'(min-width: 766px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: '(max-width: 575px)';


